body
{
	padding:0;
	margin:0;
	font-family: 'Alata', sans-serif;
}
h1
{
	color : blue;
	margin-bottom: 30px;
	font-size: 50px;
	text-align: center;
}
*
{
	box-sizing: border-box;
}
div
{
	background-color: #A0A0A0;
	position: relative;
	float: left;
	width: 30%;
	margin: 1.66%;
	border: 5px solid black;
	padding: 45px 10px 20px 10px;
}
span
{
	font-weight: bold;
	position: absolute;
	top : 0px;
	right: 0px;
	display: block;
	text-align: right;
	border: 2px solid black;
	padding: 5px 25px 5px 25px;

}
#span1
{
	background-color: pink;
}
#span2
{
	background-color: red;
	color:white;
}
#span3
{
	background-color: yellow;
}
@media(max-width: 991px)
{
	div.div3
	{
		width: 94%;
		margin:3%;
	}
	div
	{
		width: 44%;
		margin:3%;
	}

}
@media(max-width: 767px)
{
	div
	{
		width:92%;
		margin:4%;
	}
}